{% extends "app.html" %}

{% block title %}
    DiabEye, ce qu'il faut savoir 
{% endblock %}

{% block content %}
     <!-- about banner -->
     <div class="custom_banner about page_section_big_padding">
        <div class="container">
            <!-- <div class="row"> -->
                <div class="title">
                    Platform Kami
                    <svg class="icon_container">
                        <!-- <use xlink:href="#about_icon"></use> -->
                    </svg>
                </div>
            <!-- </div> -->
        </div>
    </div>
    <!-- about banner -->
    <!--  -->
    <section class="motivation page_section_medium_padding" id="motivation">
        <div class="container">
            <!-- <div class="row"> -->
                <div class="app_title">
                    Motivasi dan Tujuan
                </div>
                <div class="content bg_white">
                    <div class="col image_faq"></div>
                    <div class="col text">
                        Website ini dibuat dengan tujuan untuk membantu dalam deteksi dini <strong>Retinopati Diabetik</strong>, sebuah komplikasi serius akibat diabetes yang dapat menyebabkan kebutaan jika tidak ditangani. 
                        <strong><p>Motivasi utama pengembangan website ini adalah meningkatkan kesadaran dan aksesibilitas masyarakat terhadap teknologi diagnostik medis yang cepat, akurat, dan efisien. Dengan memanfaatkan kecerdasan buatan (AI) dan pengolahan citra digital, website ini dirancang untuk mendukung tenaga medis dan pasien dalam mengambil langkah preventif atau perawatan lebih lanjut</p></strong>
                        <strong>Website ini juga diharapkan dapat menjadi solusi praktis untuk mengatasi keterbatasan fasilitas kesehatan, terutama di daerah terpencil, dengan menyediakan alat diagnostik yang dapat diakses secara online. </strong>
                    </div>
                </div>
            <!-- </div> -->
        </div>
    </section>
    <!--  -->
    <!--  -->
    <section class="makers page_section_medium_padding" id="concepteurs">
        <div class="container">
            <!-- <div class="row"> -->
                <div class="app_title">
                    Pengembang
                </div>
                <div class="makers_people">
                    <div class="content">
                        <div class="col bg_white">
                            <div class="image_boy"></div>
                            <div class="name">
                                Muhamad Hidayat 
                            </div>
                        </div>
                        
                        </div>
                    </div>
                </div>
            <!-- </div> -->
        </div>
    </section>
    <!--  -->
{% endblock %}
